django==4.2.29
djangorestframework
django-cors-headers
psycopg2-binary
python-dotenv
openai

# JWT 토큰 발급용 라이브러리
djangorestframework-simplejwt==5.5.1

langgraph>=1.0.0
langchain-core>=1.0.0
langchain-ollama>=1.0.0
langchain-groq>=1.0.0
neo4j==5.28.2
pydantic>=2.0.0
langchain-openai
langchain-text-splitters
typing_extensions
langchain-community
sentence-transformers
# Graph Data Science (GDS) 라이브러리
# Neo4j의 그래프 데이터 과학 알고리즘을 Python에서 사용할 수 있게 해주는 라이브러리
graphdatascience==1.17
